@using Home.Core.Modules
@using Home.Core.Models

<Card Bordered="true" Title=@($"{Module.Name} ({Module.Pin})") Style="width: 300px"> 
    <Body>
        <p>Значение: @(Module.Value ?? "Нет данных")</p>
        
        @if (Module.ConnectionType != EConnectionType.IN)
        {
            <ModuleForm Module="Module" />
        }
    </Body>
</Card>

@code {
    [Parameter]
    public ModuleBase Module { get; set; }
    
    
}